
*.log
*.ini
lospital/Saved/Config/Windows/Engine.ini
lospital/Saved/Config/Windows/EditorPerProjectUserSettings.ini
*.bin
lospital/Saved/AutoScreenshot.png
lospital/Intermediate/CachedAssetRegistry.bin
lospital/Saved/Config/Windows/EditorPerProjectUserSettings.ini
lospital/Saved/Config/Windows/Engine.ini
lospital/Saved/Logs/lospital.log
lospital/Saved/Logs/lospital.log
